.NewCollections {
  position: relative;
}
.NewCollections .heading p {
  color: white;
}

.NewCollections .cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
}

@media only screen and (max-width: 600px) {
  .NewCollections .cards {
    justify-content: center;
  }
  .NewCollections .cards img {
    width: 250px;
  }
}
